.auth-box{
    text-align: left; 
    .ant-typography{
        text-align: center;
    }
    h2.ant-typography{
        font-family: 'Roboto-Bold';
        font-size: 18px;
        margin-bottom: 22px !important;
        &:nth-child(3){
            color: #A0AEC0;
        }
    }
    span.ant-typography{
        color: #A0AEC0;
        display: block;
    }
}