.flexv {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
  flex-direction: column;
}
.ant-collapse {
  width: 100%;
  .ant-collapse-content-box {
    overflow-x: auto;
  }
  .ant-collapse-header {
    display: flex !important;
    align-items: center !important;
    font-size: 1.3rem;
    .anticon {
      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
