.matching-modal{
    width: auto !important;
    max-width: 800px !important;
    min-width: 450px;
    .ant-row{
        overflow: scroll;
        max-height: 300px;
    }
    .matching-modal-select{
        margin-bottom: 30px;
    }
    .matching-modal-coincidences{
        .match{
            color: #3F9E3F;
            padding: 8px;
            width: fit-content;
            margin-bottom: 0px;
        }
        .not-match{
            color: #FE0000;
            padding: 8px;
            width: fit-content;
            margin-bottom: 0px;
        }
    }
    h3{
        padding-left: 16px;
    }
    .ant-select {
        width: 200px;
    }
}