.volunteer-profile--modal{
  width: auto !important;
  max-width: 800px !important;
  min-width: 700px !important;
  .volunteer--card {
    width: 100%;
    height: 350px;
  }
  button{
    margin-bottom: 25px;
  }
  .flex {
    display: flex;
    gap: 15px;
  }
}

