.volunteer-profile--modal{
  width: 100% !important;
  padding: 0 50px !important;
  min-width: 700px !important;
  .volunteer--card {
    width: 100%;
    height: 500px;
  }
  button{
    margin-bottom: 25px;
  }
  .flex {
    display: flex;
    gap: 15px;
  }
}

