.assign-search-result {
  .ant-row{
    margin-bottom: 20px;
  }
  margin: 40px 0;
  .action-icons {
    .anticon-check-circle {
      svg {
        color: green;
        font-size: 20px;
      }
    }
    .anticon-close-circle {
      svg {
        color: red;
        font-size: 20px;
      }
    }
  }
  .ant-table-thead > tr > th {
    text-align: center;
  }
  .ant-table-tbody {
    text-align: center;
  }
}
