.dashboard{
    .ant-row {
        margin-bottom: 20px;
    }
    .card{
        max-height: fit-content !important;
        min-height: auto !important;
       .ant-card{
            min-width: 160px !important;
       }
    }
    .filters{
        width: 30%;
        margin-bottom: 40px;
        .ant-select{
            width: auto;
            max-height: 150px;
            overflow-y: auto;
            .ant-select-selection-item{
                margin-right: 5px;
            }
        }
    }
    h3{
        padding-left: 5px;
    }
    .statistics{
        margin-bottom: 40px;
    }
    .ant-card{
        max-width: 200px;
    }
}