.function-and-requirements-table{
    .ant-tag {
        background-color: #f0f5ff;
        margin-bottom: 5px;
    }
    .ant-table-thead > tr > th {
        text-align: center;
    }
    .ant-table-tbody {
        text-align: center;
    }
}