.filter-field {
  display: flex;
  width: 100%;
  margin: 15px 0;
  .selectWidth {
    min-width: 200px;
  }
  .ant-select {
    margin-right: 10px;
    &:nth-of-type(1) {
      flex-grow: 1;
    }
    &:nth-child(3) {
      flex-grow: 2;
    }
    .ant-select-selection-overflow {
      scrollbar-width: thin;
    }
  }
  .selectWidthOperator {
    min-width: 98px;
    max-width: 130px;
  }
  .inputWidth {
    width: 120px !important;
  }
  .tag-box {
    display: flex;
    align-items: start;
    gap: 8px;
    width: 270px;
    max-width: 280px;
    overflow-x: scroll;
    border: 1px solid #d9d9d9;
    padding: 4px 11px;
    border-radius: 2px;
    transition: all 0.3s;
    &:hover {
      border-color: #40a9ff;
      border-right-width: 1px;
    }
    & .ant-tag {
      font-size: 1rem;
      padding: 2px 5px;
      margin: auto 0;
    }
  }
  .ant-picker {
    margin-right: 10px;
  }
}
