.function-and-requirements-modal{
    .import-requirements{
        min-height: 80px;
        .ant-upload button{
            width: 157px;
        }
    }

    .add-requirements{
        min-height: 60px;
        .ant-select{
            display: block;
        }
    }
}