.function-list-modal {
  width: auto !important;
  .ant-row {
    margin-bottom: 30px;
  }
  .ant-modal-body {
    overflow: scroll;
    max-height: 450px;
    max-width: 1200px;
  }
}

.filter-list-text {
  font-size: 1.4rem;
  border-bottom: 2px solid #40a9ff;
  display: flex;
  align-items: baseline;
  gap: 9px;
  .requirement {
    font-size: 1.6rem;
  }
  .operator {
    text-transform: lowercase;
  }
  .value {
    font-size: 1.6rem;
    font-weight: bold;
  }
}
