.account-info{
    div *{
        gap: 3px !important;
    }
    .ant-avatar {
        font-size: 20px;
        margin-right: 13px;
        background: #001529;
        border: 1px solid #001529;
    }
    h5{
        font-size: 15px !important;
    }
    .ant-dropdown-link{
        font-size: 15px !important;
        color: #001529 !important;
    }
    .anticon-down svg{
        color: #001529;
    }
    .anticon-bell{
        margin-left: 40px;
        svg {
            font-size: 25px;
            color: #001529;
        }
    }
}
.ant-dropdown-menu.account-dropdown{
    padding: 0 !important;
    li:first-child{
        background: #EBEDEF;
        padding: 14px 22px;
        margin-bottom: 20px;
    }
    li:not(:first-child) {
        padding: 15px 33px ;
        .anticon svg{
            color: #1890FF;
            font-size: 18px;
            margin-right: 21px;
        }
    }
    li:last-child{
        margin-top: 20px;
        border-top: 1px solid #C7C7C7;;
    }    
}