.account-info{
    div *{
        gap: 3px !important;
    }
    h5{
        font-size: 15px !important;
    }
    .ant-dropdown-link{
        font-size: 15px !important;
        color: #001529 !important;
    }
    .anticon-down svg{
        color: #001529;
    }
    .anticon-bell{
        margin-left: 40px;
        svg {
            font-size: 25px;
            color: #001529;
        }
    }
}
.ant-dropdown-menu.account-dropdown{
    padding: 0 !important;
    li {
        padding: 15px 33px ;
        .anticon svg{
            color: #1890FF;
            font-size: 18px;
            margin-right: 21px;
        }
    } 
    .ant-btn-link{ 
        padding: 0;
        span {
          color: rgba(0,0,0,.85);
        }
      }
}