@media screen and (max-width: 1400px) {
  .filter-column {
    margin: 5px 0;
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
}
@media screen and (min-width: 1400px) {
  .filter-column {
    margin: 5px 0;
    width: 50% !important;
    max-width: 50% !important;
    flex: 0 0 50% !important;
  }
}
