.column--list  {
  position: absolute;
  top: 40px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 13px;
  background: #fff;
  width: 340px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 8px;
  .ant-checkbox-group {
    display: contents;
  }
  .ant-checkbox-inner {
    width: 20px;
    height: 20px;
  }
  span {
    font-size: 1rem;
  }
}
.column--list-wrapper {
  position: relative;
}
