.search-and-assign {
  .ant-col {
    margin-bottom: 10px;
  }
  .card {
    max-height: 320px;
  }
  & > .ant-space {
    gap: 65px !important;
  }
  .search-and-assign-filters {
    gap: 30px !important;
    width: 100%;
  }
}
