.assign-search-result {
  .ant-tag {
    color: #000;
  }
}

.count-indicator {
  background: rgb(27, 199, 27);
  color: #fff;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 0;
}
