.assignin-to-component {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px !important;
  .ant-space {
    width: 100%;
  }
  .ant-space-item {
    width: 100%;
  }
  .ant-select {
    width: 275px;
  }
  .submit-btn {
    width: 200px;
    height: 40px;
  }
  .fulfillment-wrapper {
    display: flex;
    gap: 12px !important;
    .ant-card {
      min-width: 137px !important;
    }
  }
}

@media screen and (min-width: 1400px) {
  .assignin-to-component {
    flex-direction: row;
    .fulfillment-wrapper {
    }
  }
}
