.auth-top{
    background: #001529;
    height: 100vh;
    text-align: center;
}
.auth-box{
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 7px 23px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    .ant-btn-link{
        position: absolute;
        top: 10px;
        left: 15px;
    }
    & form {
        width: 350px;
        .ant-input-group-addon{
            background: transparent;
            border-radius: 6px 0 0 6px;
            border: 1px solid #1890FF;
            border-right: 0;
            & .ant-select-selector{
                color: #1890FF;
            }
        }
        & input{
            height: 50px;
            border: 1px solid #1890FF;
            border-radius: 16px;
            &::placeholder{
                color:grey;
            }
            &:focus{
                border-color: #1890FF !important;
            }
            &[placeholder = 'Mobile number'] {
                border-left: 0 !important;
            }
        }
        .ant-input-wrapper.ant-input-group:hover{
            & .ant-input-group-addon, & input{
                 border-color: #1890FF !important;
            }           
        }
        button[type='submit']{
            width: 100%;
            font-size: 12px !important;
            margin-bottom: 0 !important;
            background-color: #1890FF;
            color: white;
            padding: 15px;
            height: auto;
            border-radius: 10px;
        }
        .ant-space{
            text-align: left;
        }
    }
    span.ant-typography{
        color: #A0AEC0;
        display: block;
        &:hover{
            text-decoration: underline;
        }
    }
    .not-found-page{
        h1{
            font-size: 150px;
            margin-bottom: 0.1em;
        }
        span{
            font-size: 20px;
        }
    }
}