.matching-modal{
    .matching-modal-select{
        margin-bottom: 20px;
    }
    .matching-modal-coincidences{
        .match{
            color: #3F9E3F;
            padding: 8px;
            width: fit-content;
            margin-bottom: 1px;
        }
        .not-match{
            color: #FE0000;
            padding: 8px;
            width: fit-content;
            margin-bottom: 1px;
        }
    }
    .ant-table-cell{
        padding: 8px;
    }
}