.import-requirements{
  margin-bottom: 30px;
  span {
    display: inline-flex;
    flex-direction: row-reverse;
  }
  .ant-upload-list{
    margin-right: 20px;
    .ant-upload-list-item{
      margin-top: 4px;
      .ant-upload-span{
        flex-direction: row;
      }
    }
  }
}