//-----------------------------
// VARIALBES -- Start
$retro-green: #06d6a0;
$retro-dark-green: #0ebd8f;
$retro-orange: #f3722c;
$retro-red: #ef233c;
$retro-yellow: #fcfc02;
//VARIABLES -- End
//-----------------------------
//******************************************************

// Utility Selector -- Start
//Colors -- Start

.perfect {
  color: $retro-green;
}
.average {
  color: $retro-orange;
}
.poor {
  color: $retro-red;
}
.green-bg {
  color: #fff;
  background-color: $retro-green;
}
.green-bg:hover {
  background-color: $retro-dark-green;
  color: #fff;
}
//Colors -- End
//-----------------------------
//Font Size Management -- Start
.fs-2xl {
  font-size: 2rem;
}

.fs-xl {
  font-size: 1.5rem;
}

.fs-lg {
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}
//Font Size Management -- End
//-----------------------------

//-----------------------------
//Components -- Start
.card {
  padding: 20px 30px;
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 25px;
  min-height: 150px;
  max-height: 500px;
}
//Components -- End
//-----------------------------

//-----------------------------
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.overflow-y--auto {
  overflow-y: auto;
}

//-----------------------------

// Utility Selector -- End

//-----------------------------
//Custom Scrollbar -- Start
::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #667889;
  border-radius: 1.75rem;
  -webkit-border-radius: 1.75rem;
  -moz-border-radius: 1.75rem;
  -ms-border-radius: 1.75rem;
  -o-border-radius: 1.75rem;
}
//Custom Scrollbar -- End

//-----------------------------
