//-----------------------------
// VARIALBES -- Start
$retro-green: #06d6a0;
$retro-dark-green: #0ebd8f;
$retro-orange: #f3722c;
$retro-red: #ef233c;
$retro-yellow: #fcfc02;
//VARIABLES -- End
//-----------------------------
//******************************************************

//Layout -- End

// Utility Selector -- Start
//Colors -- Start

.perfect {
  color: $retro-green;
}
.average {
  color: $retro-orange;
}
.poor {
  color: $retro-red;
}
.green-bg {
  color: #fff;
  background-color: $retro-green;
}
.green-bg:hover {
  background-color: $retro-dark-green;
  color: #fff;
}
//Colors -- End
//-----------------------------
//Font Size Management -- Start
.fs-2xl {
  font-size: 2rem !important;
}

.fs-xl {
  font-size: 1.5rem !important;
}

.fs-lg {
  font-size: 1.2rem !important;
}

.bold {
  font-weight: bold;
}
//Font Size Management -- End
//-----------------------------

//-----------------------------
//Components -- Start
.card {
  padding: 20px 30px;
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 25px;
  min-height: 190px;
  max-height: 500px;
  min-width: 500px;
}
@media screen and (min-width: 1500px) {
  .card {
    min-height: 320px;
  }
}
//Components -- End
//-----------------------------

//-----------------------------
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.overflow-y--auto {
  overflow-y: auto;
}

.hide {
  display: none;
}
.w-100 {
  width: 100%;
}
.w-60 {
  width: 60% !important;
}
.w-50 {
  width: 50% !important;
}
.min-w-50vw {
  min-width: 50vw;
}
.my-20 {
  margin: 20px 0;
}
.mt-20 {
  margin-top: 20px;
}
.flex-wrap {
  flex-wrap: wrap !important;
  & > .ant-space-item:nth-child(1) {
    width: 50% !important;
  }
  & > .ant-space-item:nth-child(2) {
    width: 40% !important;
  }
}
.text-center {
  text-align: center;
}
.reportStatus {
  color: #fff;
  min-width: 70px;
  max-width: 90px;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
}

.pending {
  background-color: #d4d406;
}
.ready {
  color: #fff;
  background-color: #00c800;
}

.justify-content-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
//-----------------------------

// Utility Selector -- End

//-----------------------------
//Custom Scrollbar -- Start
::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #667889;
  border-radius: 1.75rem;
  -webkit-border-radius: 1.75rem;
  -moz-border-radius: 1.75rem;
  -ms-border-radius: 1.75rem;
  -o-border-radius: 1.75rem;
}
//Custom Scrollbar -- End

//-----------------------------
//ANT DESIGN TABLE CELL
.custom-table-cell--width {
  .ant-table-cell {
    min-width: 200px;
  }
}

body {
  scrollbar-color: #667889 #fff;
}

// Input
.ant-select-selector {
  min-height: 40px;
  min-width: 120px;
  & .ant-select-selection-item {
    margin-top: auto;
    margin-bottom: auto;
  }
  & .ant-select-selection-placeholder {
    margin: auto;
  }
}

// Scrolling tags
.scrolling-tags.ant-select {
  .ant-select-selector {
    padding-right: 20px;
    .ant-select-selection-item {
      margin-right: 5px;
    }
    .ant-select-selection-overflow {
      flex-wrap: initial;
      overflow-x: auto;
    }
    ::-webkit-scrollbar {
      height: 10px;
    }
  }
}

.modal-filters {
  width: 90% !important;
}
